/* font section */
@font-face{
    font-family: "open-sans-regular"; 
    src: url('../fonts/GOST type B.ttf');
    font-weight: normal;
    font-style: normal;    
}

/* style section */
html {
    width: 100%;
    height: 100%
}