.footer {
    position: relative;
    width: 100vw;
    height: 72px;
    background-color: #424242;
    font-size: 15px;
}

.wrapper-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5%;
}

.footer__company {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.icon__text {
    color: #9e9e9e;
}

.switch-language {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.switch-language__item {
    margin: 0 0 0 20px;
    color: #9e9e9e;
    transition: color 0.2s ease-in 0s;
    cursor: pointer;
}
.switch-language__item.active {
    color: #fff;
}