.header {
    z-index: 100;
    opacity: 70%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #424242;
}

.nav {
    position: relative;
    width: 100%
}

.nav__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%
}

.nav__item {
    position: relative;
    height: 72px;
    padding-top: 25px;
    font-family: 'open-sans-regular';
    font-size: 20px;
    color: #9e9e9e;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    user-select: none
}
.nav__item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transform-origin: center;
    transition: height 0.2s ease-in 0s, color 0.2s ease-in 0s;
}
.active.nav__item {
    color: #fff;
    transition: color 0.4s ease-in 0s;
}
.active.nav__item:after {
    height: 5px;
    transition: height 0.2s ease-in 0.2s;
}