<footer class="page__footer">
    <div class="footer text text--footer">
        <span class="footer__company">ООО "Пи плюс", 2003-2018</span>
        <ul class="footer__lang">
            <li class="footer__lang-item footer__lang-item--mobile footer__lang-item--after-slash footer__lang-item--active">RU</li>
            <li class="footer__lang-item footer__lang-item--mobile">EN</li>
            <li class="footer__lang-item footer__lang-item--desktop footer__lang-item--after-slash footer__lang-item--active">Русский</li>
            <li class="footer__lang-item footer__lang-item--desktop">English</li>
        </ul>
    </div>
</footer>