/* ============================================================== */

/* variable section */

.button {
    --button-height: var(--page-header-height);

    --button-animation: 0.3s var(--page-animation-func);
    --button-animation-delay: var(--page-animation-delay);
}

/* ============================================================== */

/* style section */

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: var(--button-height);
    height: var(--button-height);
    cursor: pointer;
}
.button--pos-absolute {
    position: absolute;
    right: 0;
    top: 0;
}

.button__logo {
    position: relative;
    height: 4px;
    border-radius: 2px;
    background-color: #acacac;
}
.button__logo::before {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: #acacac;
}
.button__logo::after {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: #acacac;
}

.button__logo--menu {
    width: 40%;
}
.button__logo--menu::before {
    left: 0;
    top: -10px;
    width: 100%;
}
.button__logo--menu::after {
    left: 0;
    top: 10px;
    width: 100%;
}

.button__logo--arrow-right {
    height: 0;
}
.button__logo--arrow-right::before {
    left: -4px;
    top: -14px;
    width: 20px;
    transform: rotateZ(45deg);
    transform-origin: 0 0;
}
.button__logo--arrow-right::after {
    left: -6px;
    top: 12px;
    width: 19px;
    transform: rotateZ(-45deg);
    transform-origin: 0 0;
}

.button__logo--circle {
    width: calc(var(--button-height) / 7);
    height: calc(var(--button-height) / 7);
    border-radius: calc(var(--button-height) / 7);
    opacity: 0;
    transform: scale3d(1, 1, 1);
    transform-origin: 50% 50%;
    transition: transform var(--button-animation) 0s, 
                background-color var(--button-animation) 0s;
}
/* .button__logo--circle::before {
    left: calc(var(--button-height) / 24);
    top: calc(var(--button-height) / 24);
    width: calc(var(--button-height) / 12);
    height: calc(var(--button-height) / 12);
    border-radius: calc(var(--button-height) / 12);
    transform: scale3d(0, 0, 0);
    transform-origin: 50% 50%;
    transition: transform var(--button-animation) 0s, 
                background-color var(--button-animation) 0s;
    background-color: #212121;
} */
.button.button--checked .button__logo.button__logo--circle {
    background-color: #fff;
    transform: scale3d(1.3, 1.3, 1);
    transition: transform var(--button-animation) 0.3s, 
                background-color var(--button-animation) 0.3s;
}
/* .button--checked .button__logo--circle::before {
    transform: scale3d(1, 1, 1);
} */

/* ============================================================== */

/* start page animation section */

.page--animation .button__logo--circle {
    animation: button-logo-circle-animation var(--button-animation) calc(0.6s + var(--button-animation-delay)) 1 normal forwards;
}
.page--animation .button:nth-child(1) .button__logo--circle {
    animation-delay: calc(0.6s + var(--button-animation-delay));
}
.page--animation .button:nth-child(2) .button__logo--circle {
    animation-delay: calc(0.7s + var(--button-animation-delay));
}
.page--animation .button:nth-child(3) .button__logo--circle {
    animation-delay: calc(0.8s + var(--button-animation-delay));
}
.page--animation .button:nth-child(4) .button__logo--circle {
    animation-delay: calc(0.9s + var(--button-animation-delay));
}
.page--animation .button:nth-child(5) .button__logo--circle {
    animation-delay: calc(1s + var(--button-animation-delay));
}
@keyframes button-logo-circle-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .page--animation .button--checked .button__logo--circle {
    animation: button--checked-logo-circle-animation var(--button-animation) calc(0.6s + var(--button-animation-delay)) 1 normal forwards;
}
@keyframes button--checked-logo-circle-animation {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1.2, 1.2, 1);
    }
} */