/* ============================================================== */

/* variable section */

.footer {
    --footer-height: var(--page-footer-height);

    --footer-max-width: var(--page-section-max-width);

    --footer-animation: 0.3s var(--page-animation-func);
    --footer-animation-delay: var(--page-animation-delay);
}

/* ============================================================== */

/* style section */

.footer {
    width: 100%;
    max-width: var(--footer-max-width);
    height: var(--footer-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 0 calc(var(--footer-height) / 2 - 15px);
}

.footer__company {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: calc(var(--footer-height) / 2);
    opacity: 0;
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
}

.footer__lang {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    opacity: 0;
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.footer__lang-item {
    align-self: stretch;
    display: flex;
    align-items: center;
    transition: color var(--footer-animation) 0s;
    cursor: pointer;
}
.footer__lang-item--after-slash::after {
    content: "/";
    color: #9e9e9e;
    padding: 0 3px;
}
.footer__lang-item--active {
    color: #fff;
    transition: color var(--footer-animation) 0.3s;

}

/* ============================================================== */

/* start page animation section */

.page--start-with-animation .footer__company {
    animation: footer-animation var(--footer-animation) calc(0.9s + var(--footer-animation-delay)) 1 normal forwards;
}

.page--start-with-animation .footer__lang {
    animation: footer-animation var(--footer-animation) calc(1.2s + var(--footer-animation-delay)) 1 normal forwards;
}

@keyframes footer-animation {
    0% {
        opacity: 0;
        transform: scale3d(1, 0, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* ============================================================== */

/* media queries section */
/* for portrait */
@media screen and (orientation: portrait) {

    @media screen and (max-width: 599px) {
        .footer__lang-item--desktop {
            display: none;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 1400px) {
        .footer__lang-item--mobile {
            display: none;
        }
    }
    @media screen and (min-width: 1401px) {
        .footer__lang-item--mobile {
            display: none;
        }
    }
}

/* for landscape */
@media screen and (orientation: landscape) {
    
    @media screen and (max-width: 799px) {
        .footer__lang-item--desktop {
            display: none;
        }
    }
    @media screen and (min-width: 800px) {
        .footer__lang-item--mobile {
            display: none;
        }
    }
    @media screen and (max-width: 999px) and (min-aspect-ratio: 2/1) {
        .footer__lang-item--mobile {
            display: none;
        }
    }
}