/* ============================================================== */

/* style section */

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon__svg {
    width: 100%;
    height: 100%;
}

.icon__svg--pi {
    fill: #9e9e9e;
    /* fill: rgb(69, 117, 163); */
}

.icon__svg--circle {
    fill: #4575A3;
    /* fill: #fff; */
}

.icon__svg--letter {
    fill: none;
    stroke: rgb(69, 117, 163);
    /* stroke: #fff; */
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
