/* ============================================================== */

/* variable section */

:root {
/* size element */
    --page-header-height: 72px;
    --page-section-min-height: 400px;
    --page-section-max-width: 900px;
    --page-footer-height: 72px;

/* color element */
    /* dark theme */
    --page-header-bg-color: rgba(33, 33, 33, 0.9);
    --page-header-bg-blur-color: rgba(33, 33, 33, 0.7);
    /* --page-header-bg-color: #424242; */
    --page-content-bg-color: #212121;
    --page-content-primary-color: #212121;
    --page-content-second-color: #4575A3;
    --page-content-active-color: #fff;
    --page-content-passive-color: #bdbdbd;
    --page-footer-bg-color: rgba(33, 33, 33, 0.9);
    --page-footer-bg-blur-color: rgba(33, 33, 33, 0.7);
    /* --page-footer-bg-color: #424242; */



    /* light theme */
    /* --page-header-bg-color: #f7f7f7; */
    /* --page-content-bg-color: #f7f7f7; */
    /* --page-content-bg-color: #ececec; */
    /* --page-footer-bg-color: #f7f7f7; */

    --page-animation-func: cubic-bezier(0.4, 0.0, 0.2, 1);
    --page-animation-delay: 1s;
}

/* ============================================================== */

/* style section */

.page {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--page-content-bg-color);
}

.page__logo {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    transform-origin: 50% 50%;
}
.page__logo--animation {
    animation: page-logo-begin-animation 2s var(--page-animation-func) 0s 1 normal forwards;
}
@keyframes page-logo-begin-animation {
    0% {
        opacity: 0;
        transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.page__header {
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--page-header-height);
    background-color: var(--page-header-bg-color);
    transform: scale3d(1, 0, 1);
    transform-origin: top;
}
@supports ( (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) ) {
    .page__header {
        background-color: var(--page-header-bg-blur-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

.page__content {
    z-index: 100;
    position: relative;
    width: 100%;
}

.page__section {
    z-index: 200;
    position: relative;
    width: 100%;
    min-height: var(--page-section-min-height);
    padding: var(--page-footer-height) 0;
}
/* .page__section {
    background-color: red;
}
.page__section:nth-child(2n+1) {
    background-color: green;
} */

.page__footer {
    z-index: 200;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--page-footer-height);
    background-color: var(--page-footer-bg-color);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
}
@supports ( (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) ) {
    .page__header {
        background-color: var(--page-footer-bg-blur-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

/* ============================================================== */

/* start page animation section */

.page--animation .page__header {
    animation: page-header-animation 0.3s var(--page-animation-func) calc(0s + var(--page-animation-delay)) 1 normal forwards;
}
@keyframes page-header-animation {
    0% {
        transform: scale3d(1 ,0, 1);
    }
    100% {
        transform: scale3d(1 ,1, 1);
    }
}

.page--animation .page__logo {
    animation: page-logo-end-animation 1s cubic-bezier(.54,.14,.63,.83) 0s 1 normal forwards;
}
@keyframes page-logo-end-animation {
    0% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        /* transform: translateZ(-1px) scale3d(2 ,2, 2); */
    }
    100% {
        opacity: 0.2;
        transform: scale3d(0.9, 0.9, 1);
        /* transform: translateZ(-1px) scale3d(1.8 ,1.8, 2); */
    }
}

.page--animation .page__footer {
    animation: page-footer-animation 0.3s var(--page-animation-func) calc(0.5s + var(--page-animation-delay)) 1 normal forwards;
}
@keyframes page-footer-animation {
    0% {
        transform: scale3d(1 ,0, 1);
    }
    100% {
        transform: scale3d(1 ,1, 1);
    }
}