/* ============================================================== */

/* style section */

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon--size-full-parent {
    width: 100%;
    height: 100%;
}

.icon__svg {

}
.icon__svg--pi {
    fill: #9e9e9e;
}
.icon__svg--circle {
    fill: #4575A3;
}
.icon__svg--letter {
    fill: none;
    stroke: #4575A3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.icon__svg--inside-text {
    fill: #9e9e9e;
}

/* ============================================================== */

/* media queries section */
/* for portrait */

@media screen and (orientation: portrait) {
    @media screen and (min-aspect-ratio: 9/16) {
        .icon--height-80 {
            height: 80%;
        }
    }
}

/* for landscape */

@media screen and (orientation: landscape) {
    .icon--height-80 {
        height: 80%;
    }
}
